@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 64px;
  font-family: "Mukta", sans-serif;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

p {
  font-family: "Lato", sans-serif;
  font-size: 44px;
}

.titleLine {
  height: 5px;
  width: 45%;
}
@media screen and (max-width: 768px) {
  .titleLine {
    display: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 0;
  width: 80px;
  height: 40px;
  padding: 10px 20px;
  margin-left: -50px;
  cursor: pointer;
  z-index: 5000;
  background-color: #8b8b8b;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 6px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 6px 30px 0px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}
.menu-button .top-line {
  width: 100%;
  height: 2px;
  background-color: white;
  animation: topLine 1.9s ease-in-out infinite;
}
.menu-button .bottom-line {
  width: 60%;
  height: 2px;
  background-color: white;
  animation: bottomLine 1.8s ease-in-out infinite;
}

.menu-corbata {
  position: fixed;
  top: -200px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  z-index: 5000;
  cursor: pointer;
  transition: top 0.3s ease-in-out;
}

@keyframes topLine {
  50% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
@keyframes bottomLine {
  40% {
    width: 30%;
  }
  80% {
    width: 60%;
  }
  100% {
    width: 60%;
  }
}
.menu {
  width: 100vw;
  height: 100vh;
  background-color: #8b8b8b;
  position: fixed;
  top: 0;
  left: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: left 0.3s ease-in-out;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li {
  text-align: center;
  display: block;
  color: white;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  line-height: 250%;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu ul li {
    line-height: 180%;
  }
}
.menu ul li a {
  color: white;
  text-decoration: none;
}
.menu ul li:hover:after {
  width: 50px;
}
.menu ul li:after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: white;
  margin: auto;
  transition: width 0.3s ease-in-out;
}

header {
  height: 500px;
  background-image: url(../img/01corbata.jpeg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    align-items: flex-start;
    padding-top: 100px;
    justify-content: center;
  }
}
header h1 {
  color: white;
  font-family: "Limelight", sans-serif;
  text-align: right;
  font-size: 96px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 60px;
    text-align: center;
    color: #8b8b8b;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.home-gris {
  height: 450px;
  background-color: #8b8b8b;
  position: relative;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
}
.home-gris .trapecio {
  position: absolute;
  left: 0;
  top: -233px;
}
.home-gris .trapecio .logoApp {
  width: 188px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.home-gris .downloadButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  flex-wrap: wrap;
}
.home-gris .downloadButtons .downlaodBtn {
  width: 440px;
  cursor: pointer;
}

.bloque-blanco {
  position: relative;
}
.bloque-blanco:before {
  content: "";
  position: absolute;
  top: -93px;
  left: 0;
  width: 100%;
  height: 93px;
  background-image: url(../img/diagonal_blanca.png);
  background-size: cover;
}
.bloque-blanco .headSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .bloque-blanco .headSection {
    padding-bottom: 20px;
  }
}
.bloque-blanco .headSection h2 {
  color: #8b8b8b;
}
.bloque-blanco .headSection .greyLine {
  background-color: #8b8b8b;
}
.bloque-blanco .rowImgText {
  padding: 0 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .bloque-blanco .rowImgText {
    padding: 0 10px;
  }
}
.bloque-blanco .rowImgText .roundImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.bloque-blanco .rowImgText .roundImg img {
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
}
.bloque-blanco .rowImgText .roundText p {
  color: #8b8b8b;
}
@media screen and (max-width: 768px) {
  .bloque-blanco .rowImgText .roundText p {
    text-align: center;
  }
}
.bloque-blanco .rowImgText.segunda {
  padding-bottom: 180px;
}
.bloque-blanco .rowImgText.segunda .roundImg {
  order: 2;
}
.bloque-blanco .rowImgText.segunda .roundText {
  order: 1;
}
@media screen and (max-width: 768px) {
  .bloque-blanco .rowImgText.segunda .roundImg {
    order: 1;
  }
  .bloque-blanco .rowImgText.segunda .roundText {
    order: 2;
  }
}

.bloque-gris {
  position: relative;
  background-color: #8b8b8b;
  padding-bottom: 180px;
}
.bloque-gris:before {
  content: "";
  position: absolute;
  top: -93px;
  left: 0;
  width: 100%;
  height: 93px;
  background-image: url(../img/diagonal-gris.png);
  background-size: cover;
}
.bloque-gris .headSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .bloque-gris .headSection {
    padding-bottom: 20px;
  }
}
.bloque-gris .headSection h2 {
  color: white;
}
.bloque-gris .headSection .whiteLine {
  background-color: white;
}
.bloque-gris p {
  text-align: center;
  color: white;
}
.bloque-gris .knotsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .bloque-gris .knotsRow {
    padding-bottom: 20px;
  }
}
.bloque-gris .knotsRow .thumbKnot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bloque-gris .knotsRow .thumbKnot {
    margin-bottom: 20px;
  }
}
.bloque-gris .knotsRow .thumbKnot:hover:after {
  opacity: 1;
}
.bloque-gris .knotsRow .thumbKnot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 44px;
  font-family: "Lato", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.bloque-gris .knotsRow .thumbKnot img {
  border-radius: 50%;
  object-fit: cover;
}
.bloque-gris .knotsRow .four_in_hand:after {
  content: "Four in hand";
}
.bloque-gris .knotsRow .half_windsor:after {
  content: "Half Windsor";
}
.bloque-gris .knotsRow .windsor:after {
  content: "Windsor";
}
.bloque-gris .knotsRow .eldredge:after {
  content: "Eldredge";
}
.bloque-gris .knotsRow .vanWijk:after {
  content: "Van Wijk";
}
.bloque-gris .knotsRow .trinity:after {
  content: "Trinity";
}

.bloque-blanco.simply {
  padding-bottom: 180px;
}
.bloque-blanco.simply p {
  color: #8b8b8b;
  text-align: center;
}
.bloque-blanco.simply .instructionsKnots {
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .headSection {
    padding-bottom: 20px;
  }
}
.bloque-gris.wiseness .wiseDesc {
  width: 50%;
  margin: auto;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .wiseDesc {
    padding-bottom: 20px;
    width: 95%;
  }
}
.bloque-gris.wiseness .usageExamples {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples {
    flex-direction: column;
    height: auto;
  }
}
.bloque-gris.wiseness .usageExamples #usage-examples {
  display: none;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples #usage-examples {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 50px;
    width: 100%;
    border-radius: 0;
    background-color: #8b8b8b;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    background-image: url(../img/FramewhiteTie.png);
    background-size: contain;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }
  .bloque-gris.wiseness .usageExamples #usage-examples:active, .bloque-gris.wiseness .usageExamples #usage-examples:focus {
    outline: none;
  }
}
.bloque-gris.wiseness .usageExamples ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples ul {
    display: none;
  }
}
.bloque-gris.wiseness .usageExamples ul li {
  color: white;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  position: relative;
}
.bloque-gris.wiseness .usageExamples ul li.active:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/FramewhiteTie.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: -50px;
}
.bloque-gris.wiseness .usageExamples ul li:hover:before {
  width: 50px;
}
.bloque-gris.wiseness .usageExamples ul li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40px;
  margin: auto;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}
.bloque-gris.wiseness .usageExamples .imgExample {
  height: 100%;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples .imgExample {
    height: auto;
    width: 100%;
  }
}
.bloque-gris.wiseness .usageExamples .imgExample:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -30px;
  width: 100px;
  height: 150px;
  background-color: #c4c4c4;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples .imgExample:after {
    display: none;
  }
}
.bloque-gris.wiseness .usageExamples .imgExample img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 768px) {
  .bloque-gris.wiseness .usageExamples .imgExample img {
    height: auto;
    width: 100%;
  }
}

.bloque-blanco.usability {
  padding-bottom: 540px;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability {
    padding-bottom: 150px;
  }
}
.bloque-blanco.usability .usabilityDesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability .usabilityDesc {
    flex-direction: column;
  }
}
.bloque-blanco.usability .usabilityDesc .turnedPhone {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability .usabilityDesc .turnedPhone {
    order: 2;
    width: 45%;
    align-self: flex-start;
    margin-left: 10px;
  }
}
.bloque-blanco.usability .usabilityDesc p {
  text-align: right;
  color: #8b8b8b;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability .usabilityDesc p {
    order: 1;
    text-align: center;
  }
}
.bloque-blanco.usability .usabilityDesc .frontPhone {
  position: absolute;
  width: 230px;
  bottom: -300px;
  right: 0;
  left: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability .usabilityDesc .frontPhone {
    width: 45%;
    right: 5px;
    margin: 0;
    left: auto;
    bottom: 0;
  }
}
.bloque-blanco.usability .usabilityDesc .frontPhone:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -30px;
  width: 150px;
  height: 300px;
  background-color: #c4c4c4;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bloque-blanco.usability .usabilityDesc .frontPhone:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bloque-gris.style {
    padding-bottom: 0;
  }
}
.bloque-gris.style .styleContent {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .bloque-gris.style .styleContent {
    flex-direction: column;
    padding: 0;
  }
}
.bloque-gris.style .styleContent .stylePic {
  width: 30%;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .bloque-gris.style .styleContent .stylePic {
    width: 100%;
    order: 2;
  }
}
.bloque-gris.style .styleContent .stylePic:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  background-color: #c4c4c4;
  width: 50%;
  height: 60%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bloque-gris.style .styleContent .stylePic:after {
    display: none;
  }
}
.bloque-gris.style .styleContent .styleText {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .bloque-gris.style .styleContent .styleText {
    width: 95%;
    margin: auto;
    order: 2;
  }
}

.video-section {
  position: relative;
}
@media screen and (max-width: 768px) {
  .video-section {
    overflow: hidden;
    margin-top: -5px;
    background-image: url(../img/atandp.jpeg);
    background-size: cover;
    background-position: center center;
    height: 650px;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  }
}
.video-section .downloadEndSection {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .video-section .downloadEndSection {
    top: 15%;
  }
}
.video-section .downloadEndSection .logoAppEnd {
  width: 100px;
  padding: 40px 0;
}
.video-section .downloadEndSection .downloadLinksEnd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-section .downloadEndSection .downloadLinksEnd .downBtn {
  width: 300px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .video-section .downloadEndSection .downloadLinksEnd .downBtn {
    width: 95%;
    margin: auto;
  }
}
.video-section .downloadEndSection h2 {
  color: white;
  font-size: 64px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .video-section .downloadEndSection h2 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
}
.video-section video {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  margin-bottom: -4px;
}
@media screen and (max-width: 768px) {
  .video-section video {
    width: auto;
    height: 80%;
    margin-left: -500px;
    object-fit: cover;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .video-section video source {
    display: none;
  }
}
.video-section video source:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: red;
  z-index: 100;
}
.video-section video source:before {
  content: "¡Descárgatela!";
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 64px;
  font-family: "Lato", sans-serif;
  text-align: center;
  z-index: 200;
}

/*# sourceMappingURL=styles.css.map */
