body {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: black;
  color: white;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 64px;
  font-family: "Mukta", sans-serif;
  padding-left: 20px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 44px;
}

.titleLine {
  height: 5px;
  width: 45%;
}

img {
  width: 100%;
  height: auto;
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  cursor: pointer;
}

header {
  height: 500px;
  background-image: url(../img/01corbata.jpeg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header h1 {
  color: white;
  font-family: "Limelight", sans-serif;
  text-align: right;
  font-size: 96px;
  padding-right: 30px;
}

.home-gris {
  height: 450px;
  background-color: #8b8b8b;
  position: relative;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
}
.home-gris .trapecio {
  position: absolute;
  left: 0;
  top: -233px;
}
.home-gris .trapecio .logoApp {
  width: 188px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.home-gris .downloadButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  flex-wrap: wrap;
}
.home-gris .downloadButtons .downlaodBtn {
  width: 440px;
  cursor: pointer;
}

.bloque-blanco {
  position: relative;
}
.bloque-blanco:before {
  content: "";
  position: absolute;
  top: -93px;
  left: 0;
  width: 100%;
  height: 93px;
  background-image: url(../img/diagonal_blanca.png);
  background-size: cover;
}
.bloque-blanco .headSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 46px;
}
.bloque-blanco .headSection h2 {
  color: #8b8b8b;
}
.bloque-blanco .headSection .greyLine {
  background-color: #8b8b8b;
}
.bloque-blanco .rowImgText {
  padding: 0 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.bloque-blanco .rowImgText .roundImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.bloque-blanco .rowImgText .roundImg img {
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
}
.bloque-blanco .rowImgText .roundText p {
  color: #8b8b8b;
}
.bloque-blanco .rowImgText.segunda {
  padding-bottom: 180px;
}
.bloque-blanco .rowImgText.segunda .roundImg {
  order: 2;
}
.bloque-blanco .rowImgText.segunda .roundText {
  order: 1;
}
@media screen and (max-width: 768px) {
  .bloque-blanco .rowImgText.segunda .roundImg {
    order: 1;
  }
  .bloque-blanco .rowImgText.segunda .roundText {
    order: 2;
  }
}

.bloque-gris {
  position: relative;
  background-color: #8b8b8b;
  padding-bottom: 180px;
}
.bloque-gris:before {
  content: "";
  position: absolute;
  top: -93px;
  left: 0;
  width: 100%;
  height: 93px;
  background-image: url(../img/diagonal-gris.png);
  background-size: cover;
}
.bloque-gris .headSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 60px;
}
.bloque-gris .headSection h2 {
  color: white;
}
.bloque-gris .headSection .whiteLine {
  background-color: white;
}
.bloque-gris p {
  text-align: center;
  color: white;
}
.bloque-gris .knotsRow {
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}
.bloque-gris .knotsRow .thumbKnot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
}
.bloque-gris .knotsRow .thumbKnot:hover:after {
  opacity: 1;
}
.bloque-gris .knotsRow .thumbKnot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 44px;
  font-family: "Lato", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.bloque-gris .knotsRow .thumbKnot img {
  border-radius: 50%;
  object-fit: cover;
}
.bloque-gris .knotsRow .four_in_hand:after {
  content: "Four in hand";
}
.bloque-gris .knotsRow .half_windsor:after {
  content: "Half Windsor";
}
.bloque-gris .knotsRow .windsor:after {
  content: "Windsor";
}
.bloque-gris .knotsRow .eldredge:after {
  content: "Eldredge";
}
.bloque-gris .knotsRow .vanWijk:after {
  content: "Van Wijk";
}
.bloque-gris .knotsRow .trinity:after {
  content: "Trinity";
}

.bloque-blanco.simply {
  padding-bottom: 180px;
}
.bloque-blanco.simply p {
  color: #8b8b8b;
  text-align: center;
}
.bloque-blanco.simply .instructionsKnots {
  width: 95%;
  margin: auto;
}

.bloque-gris.wiseness .wiseDesc {
  width: 50%;
  margin: auto;
  padding-bottom: 40px;
}
.bloque-gris.wiseness .usageExamples {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bloque-gris.wiseness .usageExamples ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.bloque-gris.wiseness .usageExamples ul li {
  color: white;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  position: relative;
}
.bloque-gris.wiseness .usageExamples ul li.active:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/FramewhiteTie.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: -50px;
}
.bloque-gris.wiseness .usageExamples .imgExample {
  height: 100%;
  position: relative;
  z-index: 100;
}
.bloque-gris.wiseness .usageExamples .imgExample:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -30px;
  width: 100px;
  height: 150px;
  background-color: #c4c4c4;
  z-index: -1;
}
.bloque-gris.wiseness .usageExamples .imgExample img {
  height: 100%;
  width: auto;
}

.bloque-blanco.usability {
  padding-bottom: 540px;
}
.bloque-blanco.usability .usabilityDesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.bloque-blanco.usability .usabilityDesc .turnedPhone {
  width: 200px;
}
.bloque-blanco.usability .usabilityDesc p {
  text-align: right;
  color: #8b8b8b;
}
.bloque-blanco.usability .usabilityDesc .frontPhone {
  position: absolute;
  width: 230px;
  bottom: -300px;
  right: 0;
  left: 0;
  margin: auto;
}
.bloque-blanco.usability .usabilityDesc .frontPhone:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -30px;
  width: 150px;
  height: 300px;
  background-color: #c4c4c4;
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
