// sass --watch styles.scss:styles.css
$gris: #8b8b8b;
$titulos: 'Mukta', sans-serif;
$cuerpo: 'Lato', sans-serif;

body {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 64px;
  font-family: $titulos;
  padding-left: 20px;
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}

p {
  font-family: $cuerpo;
  font-size: 44px;
}

.titleLine {
  height: 5px;
  width: 45%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 0;
  width: 80px; height: 40px;
  padding: 10px 20px;
  margin-left: -50px;
  cursor: pointer;
  z-index: 5000;
  background-color: $gris;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: -3px 6px 20px 0px rgba(0, 0, 0, .3);
  box-shadow: -3px 6px 30px 0px rgba(0, 0, 0, .1);
  transition: right .3s ease-in-out;
  .top-line {
    width: 100%; height: 2px;
    background-color: white;
    animation: topLine 1.9s ease-in-out infinite;
  }
  .bottom-line {
    width: 60%; height: 2px;
    background-color: white;
    animation: bottomLine 1.8s ease-in-out infinite;
  }
}

.menu-corbata {
  position: fixed;
  top: -200px; right: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  z-index: 5000;
  cursor: pointer;
  transition: top .3s ease-in-out;
}

@keyframes topLine {
  50% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

@keyframes bottomLine {
  40% {
    width: 30%;
  }
  80% {
    width: 60%;
  }
  100% {
    width: 60%;
  }
}

.menu {
  width: 100vw; height: 100vh;
  background-color: $gris;
  position: fixed;
  top: 0; left: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: left .3s ease-in-out;
  @media screen and (max-width: 768px) {
    // padding-top: 100px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-align: center;
      display: block;
      color: white;
      font-family: $titulos;
      font-size: 30px;
      line-height: 250%;
      @media screen and (max-width: 768px) {
        line-height: 180%;
      }
      a {
        color: white;
        text-decoration: none;
      }
      cursor: pointer;
      position: relative;
      &:hover {
        &:after {
          width: 50px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 15px; left: 0; right: 0;
        width: 0; height: 1px;
        background-color: white;
        margin: auto;
        transition: width .3s ease-in-out;
      }
    }
  }
}

header {
  height: 500px;
  background-image: url(../img/01corbata.jpeg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 768px) {
    align-items: flex-start;
    padding-top: 100px;
    justify-content: center;
  }
  h1 {
    color: white;
    font-family: 'Limelight', sans-serif;
    text-align: right;
    font-size: 96px;
    padding-right: 30px;
    @media screen and (max-width: 768px) {
      font-size: 60px;
      text-align: center;
      color: $gris;
      padding: 30px;
      background-color: rgba(255, 255, 255, .7);
    }
  }
}

.home-gris {
  height: 450px;
  background-color: $gris;
  position: relative;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, .5);
  display: flex;
  align-items: flex-start;
  .trapecio {
    position: absolute;
    left: 0;
    top: -233px;
    .logoApp {
      width: 188px;
      position: absolute;
      top: 20px;
      left: 10px;
    }
  }
  .downloadButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
    .downlaodBtn {
      width: 440px;
      cursor: pointer;
    }
  }
}

.bloque-blanco {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -93px; left: 0;
    width: 100%; height: 93px;
    background-image: url(../img/diagonal_blanca.png);
    background-size: cover;
  }
  .headSection {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 46px;
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    h2 {
      color: $gris;
    }
    .greyLine {
      background-color: $gris;
    }
  }
  .rowImgText {
    padding: 0 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      padding: 0 10px;
    }
    .roundImg {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: 300px;
        object-fit: cover;
      }
    }
    .roundText {
      p {
        color: $gris;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
  .rowImgText.segunda {
    padding-bottom: 180px;
    .roundImg {
      order: 2;
    }
    .roundText {
      order: 1;
    }
    @media screen and (max-width: 768px) {
      .roundImg {
        order: 1;
      }
      .roundText {
        order: 2;
      }
    }
  }
}

.bloque-gris {
  position: relative;
  background-color: $gris;
  padding-bottom: 180px;
  &:before {
    content: '';
    position: absolute;
    top: -93px; left: 0;
    width: 100%; height: 93px;
    background-image: url(../img/diagonal-gris.png);
    background-size: cover;
  }
  .headSection {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    h2 {
      color: white;
    }
    .whiteLine {
      background-color: white;
    }
  }
  p {
    text-align: center;
    color: white;
  }
  .knotsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 80px;
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    .thumbKnot {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: relative;
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 44px;
        font-family: $cuerpo;
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .four_in_hand {
      &:after {
        content: 'Four in hand';
      }
    }
    .half_windsor {
      &:after {
        content: 'Half Windsor';
      }
    }
    .windsor {
      &:after {
        content: 'Windsor';
      }
    }
    .eldredge {
      &:after {
        content: 'Eldredge';
      }
    }
    .vanWijk {
      &:after {
        content: 'Van Wijk';
      }
    }
    .trinity {
      &:after {
        content: 'Trinity';
      }
    }
  }
}

.bloque-blanco.simply {
  padding-bottom: 180px;
  p {
    color: $gris;
    text-align: center;
  }
  .instructionsKnots {
    width: 95%;
    margin: auto;
  }
}

.bloque-gris.wiseness {
  .headSection {
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
  }
  .wiseDesc {
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
      width: 95%;
    }
  }
  .usageExamples {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
    #usage-examples {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        height: 50px;
        width: 100%;
        border-radius: 0;
        background-color: $gris;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
        background-image: url(../img/FramewhiteTie.png);
        background-size: contain;
        background-position: 95% 50%;
        background-repeat: no-repeat;
        padding-left: 40px;
        font-family: $cuerpo;
        font-size: 20px;
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }
      li {
        color: white;
        font-size: 36px;
        font-family: $cuerpo;
        cursor: pointer;
        position: relative;
        &.active {
          &:after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            background-image: url(../img/FramewhiteTie.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            top: 0;
            left: -50px;
          }
        }
        &:hover {
          &:before {
            width: 50px;
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: -10px; left: 40px;
          margin: auto;
          width: 0;
          height: 1px;
          background-color: white;
          transition: width .3s ease-in-out;
        }
      }
    }
    .imgExample {
      height: 100%;
      position: relative;
      z-index: 100;
      @media screen and (max-width: 768px) {
        height: auto;
        width: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -20px; right: -30px;
        width: 100px; height: 150px;
        background-color: #c4c4c4;
        z-index: -1;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      img {
        height: 100%;
        width: auto;
        @media screen and (max-width: 768px) {
          height: auto;
          width: 100%;
        }
      }
    }
  }

}

.bloque-blanco.usability {
  padding-bottom: 540px;
  @media screen and (max-width: 768px) {
    padding-bottom: 150px;
  }
  .usabilityDesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .turnedPhone {
      width: 200px;
      @media screen and (max-width: 768px) {
        order: 2;
        width: 45%;
        align-self: flex-start;
        margin-left: 10px;
      }
    }
    p {
      text-align: right;
      color: $gris;
      @media screen and (max-width: 768px) {
        order: 1;
        text-align: center;
      }
    }
    .frontPhone {
      position: absolute;
      width: 230px;
      bottom: -300px;
      right: 0; left: 0;
      margin: auto;
      @media screen and (max-width: 768px) {
        width: 45%;
        right: 5px;
        margin: 0;
        left: auto;
        bottom: 0;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -20px; right: -30px;
        width: 150px; height: 300px;
        background-color: #c4c4c4;
        z-index: -1;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.bloque-gris.style {
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
  .styleContent {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0;
    }
    .stylePic {
      width: 30%;
      position: relative;
      z-index: 100;
      @media screen and (max-width: 768px) {
        width: 100%;
        order: 2;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -30px; right: -30px;
        background-color: #c4c4c4;
        width: 50%; height: 60%;
        z-index: -1;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    .styleText {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 95%;
        margin: auto;
        order: 2;
      }
    }
  }
}

.video-section {
  position: relative;
  @media screen and (max-width: 768px) {
    overflow: hidden;
    margin-top: -5px;
    background-image: url(../img/atandp.jpeg);
    background-size: cover;
    background-position: center center;
    height: 650px;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  }
  .downloadEndSection {
    position: absolute;
    top: 25%; left: 0; right: 0;
    margin: auto;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
      top: 15%;
    }
    .logoAppEnd {
      width: 100px;
      padding: 40px 0;
    }
    .downloadLinksEnd {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .downBtn {
        width: 300px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          width: 95%;
          margin: auto;
        }
      }
    }
    h2 {
      color: white;
      font-size: 64px;
      font-family: $cuerpo;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 40px;
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
  video {
    width: 100%; height: auto;
    filter: grayscale(100%);
    margin-bottom: -4px;
    @media screen and (max-width: 768px) {
      width: auto;
      height: 80%;
      margin-left: -500px;
      object-fit: cover;
      display: none;
    }
    source {
      @media screen and (max-width: 768px) {
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100vh;
        background-color: red;
        z-index: 100;
      }
      &:before {
        content: '¡Descárgatela!';
        position: absolute;
        top: 25%; left: 0; right: 0;
        margin: auto;
        color: white;
        font-size: 64px;
        font-family: $cuerpo;
        text-align: center;
        z-index: 200;
      }
    }
  }
}
